name: CI tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'heads/master') }}

jobs:
  build_jdk:
    name: Build the JDK
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      JAVA_VERSION: 17
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --only-upgrade apt
          sudo apt-get install gcc-10 g++-10 libcups2-dev libasound2-dev libfontconfig1-dev \
              libx11-dev libxext-dev libxrender-dev libxrandr-dev libxtst-dev libxt-dev
      - name: Install jtreg
        run: |
          wget https://builds.shipilev.net/jtreg/jtreg-7.5%2B1.zip -O /tmp/jtreg.zip
          unzip /tmp/jtreg.zip -d /tmp/
      - name: Configure the JDK
        run: bash ./configure --with-jtreg=/tmp/jtreg --disable-warnings-as-errors
      - name: Build the JDK
        run: make jdk

  CF:
    name: ${{ matrix.script }} on JDK ${{ matrix.java.version }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        script: ['cftests-all']
        java: [{version: '8', experimental: false}, {version: '11', experimental: false}, {version: '21', experimental: false}, {version: '22', experimental: true}, {version: '23-ea', experimental: true}, {version: '24-ea', experimental: true}]
    env:
      JAVA_VERSION: ${{ matrix.java.version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java.version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java.version }}
          distribution: 'temurin'
    
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.1.0
    
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.9.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Clone plume-scripts
        run: mkdir -p /tmp/$USER && git -C /tmp/$USER clone --depth 1 -q https://github.com/eisop-plume-lib/plume-scripts.git

      - name: Clone git-scripts
        run: mkdir -p /tmp/$USER && git -C /tmp/$USER clone --depth 1 -q https://github.com/eisop-plume-lib/git-scripts.git

      - name: Clone checker-framework
        run: /tmp/$USER/git-scripts/git-clone-related eisop checker-framework

      - name: Run test script checker/bin-devel/test-${{ matrix.script }}.sh
        run: ./checker/bin-devel/test-${{ matrix.script }}.sh
        working-directory: ../checker-framework

  extra:
    name: ${{ matrix.script }} on JDK ${{ matrix.java_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        script: ['plume-lib', 'daikon']
        java_version: [17]
    env:
      JAVA_VERSION: ${{ matrix.java_version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java_version }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.1.0

      - name: Clone plume-scripts
        run: mkdir -p /tmp/$USER && git -C /tmp/$USER clone --depth 1 -q https://github.com/eisop-plume-lib/plume-scripts.git

      - name: Clone git-scripts
        run: mkdir -p /tmp/$USER && git -C /tmp/$USER clone --depth 1 -q https://github.com/eisop-plume-lib/git-scripts.git

      - name: Clone checker-framework
        run: /tmp/$USER/git-scripts/git-clone-related eisop checker-framework

      - name: Run test script checker/bin-devel/test-${{ matrix.script }}.sh
        run: ./checker/bin-devel/test-${{ matrix.script }}.sh
        working-directory: ../checker-framework
